body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #262626
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-screen {
  height: 100%;
  width: 100%;
}

/* Nav */

.bg-clear {
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
}

.navbar-light .navbar-nav .nav-link {
  color: #262626;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #4060A8;
}

.navbar {
  transition: 0.15s;
}

.navbar.scrolled {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#root {
  padding-top: 3.5em;
  height: 100%;
}

.home-card:hover {
  box-shadow: 0px 0px 15px rgba(35, 52, 90, 1);
}

.home-card:hover .card-button {
  border-bottom: 1px solid rgb(64, 96, 168);
  border-left: 1px solid rgb(64, 96, 168);
  transform: rotate(-135deg);
}

.home-card {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.card-button {
  position: absolute;
  bottom: 35px;
  right: 35px;
  transform: rotate(225deg);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 12px;
  height: 12px;
  transition: .25s;
}

html {
  scroll-behavior: smooth;
}

.search-bar:focus {
  border-bottom: 1px solid #4060A8;
  box-shadow: none;
  background-color: transparent;
}

.search-bar {
  border: 0;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 0;
  background-color: transparent;
  transition: .25s all;
  padding-right: 30px;
}

.search-icon path {
  fill: #DDDDDD;
  transition: .25s all;
}

.search-bar:focus + button .search-icon path {
  fill: #4060A8;
}


.header {
  height: 400px;
  background-image: url("https://images.pexels.com/photos/2422/sky-earth-galaxy-universe.jpg?cs=srgb&dl=astronomy-discovery-earth-2422.jpg&fm=jpg");
  background-size: cover;
}
